<!DOCTYPE html>
<html>
  <head>
    <title>ProjectWay<%= content_for?(:title) ? ' · ' : '' %><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    <% if content_for?(:footer) %>
      <%= yield(:footer) %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
